<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
    <?php
    require_once "../Buisness/IngredientBuisness.php";
    require_once "../Buisness/RecetteBuisness.php";
    $ingredient = new IngredientBuisness();
     $recette = new RecetteBuisness();
    ?>
        <title>Kitchen live view</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./Css/Kitchen.css" />
    </head>
    <body>
    <div id="logo">
        <a href="/Kitchen/View/main.php?kitchen">  <img src="./assets/syncncook_logo.png"  alt="Kitchen" style="width:300px;height:300px"></a>
    </div>
    <h1 id="title">Kitchen</h1> 
    <div id ="freezerState" title="FreezerState">
        <h2 id="textFreezerState">Etat du frigérateur</h2>
        <div id="arrondi" >
            <h3 id="textIngredient">Ingrédients</h3>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                </tr>
            
      
      <?php 
  
    list($ingredientName, $ingredientQuantity)  = $ingredient->getIngredientJson();   
    for($offset = 0; $offset < count($ingredientName); $offset++){
       ?>
            <tr>
             <td><?php echo $ingredientName[$offset] ?></td>
             <td><?php echo $ingredientQuantity[$offset] ?></td>
            </tr>
            <?php
            unset($ingredient);
           }
           ?>
         
           </table>
        </div>
    </div>
    
    <div id ="recette" title="recette">
    <h2 id="textRecette">Recette(s) disponible(s)</h2>
    <div id="arrondi" >
        <h3 id="textIngredient">Recette(s)</h3>
        <table>
            <tr>
                <th>Nom</th>
                <th>Déscription</th>
            </tr>

  
            
     


           </table>
        </div>
    </div>
    
  <div id ="recetteFav" title="recetteFav">
    <h2 id="textRecette">Mes favoris</h2>
    <div id="arrondi" >
        <h3 id="textIngredient">Recette(s)</h3>
        <table>
            <tr>
                <th>Nom</th>
                <th>Déscription</th>
            </tr>

  

      <?php 
    list($recetteName, $recetteDescription)  = $recette->getRecetteFav();
    for($offset = 0; $offset < count($recetteName); $offset++){
       ?>
            <tr>
             <td><?php echo $recetteName[$offset] ?></td>
             <td><?php echo $recetteDescription[$offset] ?></td>
            </tr>
            <?php
            }
            unset($recette);
           ?>
           </table>
        </div>
    </div>
    
    </body>
</html>
