/* 
    Document   : Kitchen
    Created on : 6 janv. 2015, 14:10:55
    Author     : yalath
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;

}

body{
       background-color: white; 
}

#arrondi{
    border-radius: 10px;
    width:auto; 
    height:auto; 
     
    border:solid 1px black;
}

#logo{
 margin-left: auto;
 margin-right: auto;
 width: 300px;
height: 170px;
}

#title{
 text-align: center;
}

#freezerState{
 
 text-align: center;
 width: 300px;

 float: left;
}

#textFreezerState{
    text-decoration: underline;
}

#textIngredient{
    
}

#tableIngredient{
    
}

#recette{
float: right;

 text-align: center;
 width: 300px;
}

#recetteFav{
float: bottom;
margin-left: auto;
 text-align: center;
 width: 300px;
}

#textRecette{
    text-decoration: underline;
}